@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Grotesk";
  src: url("../fonts/founders-grotesk.otf");
}
@font-face {
  font-family: "Tiempo";
  src: url("../fonts/TestTiemposHeadline-Light.otf");
}
@font-face {
  font-family: "Test Grotesk";
  src: url("../fonts/TestFoundersGroteskText-Light.otf");
}
.nav-mid{
  font-family: "Tiempo";
  font-size: 40px;
}
.nav-right{
  font-family: "Test Grotesk";
}
.nav-left{
  font-family: "Test Grotesk";
}
.main-section{
  background-image: url("https://oishii.com/cdn/shop/files/IMG_3351_extended_1_2_2160x.jpg?v=1694545735");
  background-size: cover;
  background-position: center;
  filter: brightness(.80);
}
.section-text{
  filter:brightness(3)
}
.section-p{
  font-family: "Test Grotesk";
}
.section-find-us{
  font-family: "Test Grotesk";
}
.left-top-text{
  font-family: "Test Grotesk";
}
.left-title{
  font-family: "Tiempo";
}
.left-p-text{
  font-family: "Test Grotesk";
}
.right-text{
  font-family: "Tiempo";
}
.right-bottom-text{
  font-family: "Test Grotesk";
}